.container {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1.4fr;
  gap: 18px;
}

.dropdownWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.customSelectWrapper {
  max-width: 335px;
  flex-grow: 1;
}

.custom-select__control {
  min-height: 31px;
}

.dropdownLabel {
  font-size: 21px;
  line-height: 19px;
}

.labelTextRequired {
  color: #ff0000;
}

.dropdownArrow svg {
  color: #037bb8;
}

.custom-select__indicator-separator {
  display: none;
}

.descr {
  font-size: 12px;
  line-height: 20px;
  color: #999;
}
