.page {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1370px;
  /* font-family: var(--font-geist-sans); */
}

.main {
  padding: 90px 79px 90px 100px;
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
}

.pageTitle {
  margin-bottom: 45px;
  color: #666;
}

.pageTitleName {
  color: #000;
}
