.page {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1370px;
  /* font-family: var(--font-geist-sans); */
}

.main {
  padding: 90px 79px 90px 100px;
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 100%;
}

@media (max-width: 1200px) {
  .main {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 40px 20px;
  }
}

.pageTitle {
  margin-bottom: 44px;
  color: #666;
}

@media (max-width: 768px) {
  .pageTitle {
    margin-bottom: 24px;
  }
}

.pageTitleName {
  color: #000;
}
