.checkboxWrap label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

@media (max-width: 610px) {
  .checkboxWrap label {
    flex-direction: column;
    align-items: flex-start;
  }
}

.checkboxAndAgreement {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .checkboxAndAgreement {
    gap: 6px;
  }
}

.checkboxContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 12px;
  height: 12px;
  border: 1px solid #7e7e7e;
  transform: translateY(1px);
}

.checkboxContent .checkboxInput {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.checkboxContent .checkboxInput:checked + .customCheckbox {
  opacity: 1;
}

.customCheckbox {
  display: flex;
  color: #037bb8;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.labelText {
  display: flex;
  max-width: 212px;
  flex-grow: 1;
  font-size: 21px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
}

@media (max-width: 768px) {
  .labelText {
    font-size: 18px;
  }
}

.labelTextRequired {
  color: #ff0000;
}

.agreementText {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
}

@media (max-width: 768px) {
  .agreementText {
    font-size: 14px;
  }
}
