@import "../../styles/variables";
@import "../../styles/mixins.scss";

.inputWrap {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1.4fr;
  gap: 18px;
}

.label {
  @include flex($justify: space-between);
  gap: 12px;
}

.inputContainer {
  max-width: 335px;
  flex-grow: 1;
  input::placeholder {
    color: $text-placeholder;
  }
}

.labelText {
  @include text($fontSize: 21px, $lineHeight: 19px);
}

.labelTextRequired {
  color: $color-accent;
}

.input {
  padding: 6px 12px;
  width: 100%;
  height: 31px;
  border: 1px solid $border-color;
  font-family: Arial;
  @include text();
  &:focus::placeholder {
    opacity: 0;
  }
  &:focus {
    box-shadow: 0 0 3px 0 $border-color;
  }
  &::placeholder {
    color: $text-placeholder;
  }
  &.error {
    border-color: $border-error;
    color: $color-accent;
  }
}

.descr {
  @include text($fontSize: 12px, $lineHeight: 20px, $color: $text-light-grey);
}

.errorText {
  @include text($fontSize: 12px, $lineHeight: 16px, $color: $color-accent);
}
